# Ignore all folders except public folder
# as well as .git folder so it doesn't get copied
# to the production environment

# to see all tracked files:
# git ls-tree --full-tree -r --name-only HEAD

# to clear ignored files that are cached
# git rm --cached -r -f .

logs/
private/
tmp/
ENV/
protected/secret_key
# don't track protected files with api keys
protected/api_keys/

# ignore all .pyc files
*.pyc

# ignore git files
.git
