# Ignore all folders except public folder
# as well as .git folder so it doesn't get copied
# to the production environment

/logs
/private
/tmp

# ignore all .pyc files
*.pyc

# don't track protected files with api keys
/protected/api_key.json
/protected/client_secrets.json
/protected/fb_client_secrets.json
