/* START MAP page styles */
body {
    margin: 0;
    background-color: #f7f7f7;
    font-family: 'News Cycle', sans-serif;
    font-style: normal;
    font-weight: 100;
    line-height: 24px;
}

#map {
    width: 100vw;
    height: 40vh;
}

main {
  position: fixed;
  z-index: 20;
}

.noResultsMsg {
  text-align: center;
}

section {
  position: relative;
  top: 40vh;
  z-index: 9;
  min-height: 60vh;
  clear: both;
}

  /* START Toolbar on MAP page */

.toolbar {
  position: relative;
  width: 100vw;
  height: 10vh;
  color: rgb(0, 53, 125);
  font-size: 1.5em;
}

.location-thumb {

}

.cl-20 {
  display: inline-block;
  width: 20vw;
  vertical-align: top;
  text-align: left;
  padding: 7px 0 0 0;
  margin: 0;
}

.target {
  height: 100%;
}

.location-accuracy {
  display: inline;
  font-size: 1.5em;
  position: relative;
  top: 5px;
  left: 20px;
  color: #444;
}

.units {
  display: block;
  font-size: 0.5em;
  width: 100%;
  position: relative;
  left: 15px;
  color: #000;
}

  /* START Toolbar on MAP page */

/* END MAP Page Styles */


/* START Splash Page Styles */

button {
    padding: 1em;
    border-style: none;
    background-color: #333;
    color: #fff;
    width: 280px;
    margin-bottom: 20px;
    font-size: 1.1em;
    font-family: "News Cycle", sans-serif;
    /*box-shadow: 3px 3px 3px #222;*/
}

button a {
  text-decoration: none;
  color: #fff;
}

.fa-arrow-right {
    color: #333;
    margin-left: 1em;
    margin-right: 1em;
}

.geoPermission {
    position: relative;
    top: 50vh;
    height: 50vh;
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 1.25em;
}

input {
    padding: 1em;
    width: 240px;
    border-style: none;
    border: 2px solid #333;
    margin-bottom: 20px;
    font-size: 1em;
    font-family: 'News Cycle', sans-serif;
}

.loader {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: #fff;
    z-index: 25;
}

a#login-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  text-decoration: none;
  height: 10vh;
  color: #333;
  background-color: #fff;
  font-size: 1.1em;
  text-align: right;
}

#logo-container {
  height: 40vh;
  width: 100vw;
  position: absolute;
  top: 10vh;
}

#splashLogo {
    position: relative;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

/* END Splash Page Styles */

/* START Side Navbar Styles */
.infoWindow {
    color: #eee;
    font-size: 1.5em;
    padding: 5px;
}

.sidebar-name {
  float: left;
  margin-left: 0.25em;
  color: #fff;
}

.sidebar-logout {
  float: right;
  margin-right: 0.25em;
  color: #fff;
}

.profile-img {
  width: 100%;
  border-radius: 1em;
}

.Offscreen {
  height: 100%;
  background: #222;
  position: fixed;
  right: 0;
  width: 50%;
  transform: translate3d(100%, 0, 0);
  transition: all 600ms ease;
  z-index: 30;
}
.Offscreen.is-Open {
  transform: translate3d(0, 0, 0);
  z-index: 30;
}
.Button {
    position: fixed;
    left: -70px;
    top: 40vh;
    width: 55px;
    height: 50px;
    padding: 0.5em;
    cursor: pointer;
    transition: inherit;
    background: rgb(247, 247, 247);
}
.Button:hover {
  background: rgba(32, 170, 178, 0.75);
}

.Menu-Bar {
  display: block;
  margin-bottom: 0.5em;
  height: 0.5em;
  position: absolute;
  transition: all 200ms ease;
  background-color: #00357d;
  transform-origin: 50% 50%;
}

.Menu-Bar.Menu-Top {
  top: 1.15em;
  left: 0.75em;
  width: 1.5em;
  transform: rotate(-45deg);
}
.Menu-Bar.Menu-Middle {
  top: 1.55em;
  left: 1.0em;
  width: 2.5em;
}
.Menu-Bar.Menu-Bottom {
  top: 1.9em;
  left: 0.75em;
  width: 1.5em;
  transform: rotate(45deg);
}

.Button:hover .Menu-Bar {
  background: #FFF;
}
.is-Open .Menu-Bar.Menu-Top {
  transform: rotate(45deg);
  top: 1.15em;
  left: 1.25em;
  width: 1.75em;
}

.is-Open .Menu-Bar.Menu-Middle {
  height: 0;
}
.is-Open .Menu-Bar.Menu-Bottom {
  transform: rotate(-45deg);
  top: 2.1em;
  left: 1.25em;
  width: 1.75em;
}

input.userFilter {
    width: 150px;
}

.Nav-List {
  padding: 1.5em 2em;
  z-index: 13;
}
.Nav-List ul,
.Nav-List li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 1.5em;
  line-height: 1.25em;
}
.Nav-List a {
  color: #fff;
  text-decoration: none;
}
.Nav-List a:hover {
  color: rgba(32, 170, 178, 0.5);;
}

nav div a i.fa {
    color: #eee;
    margin:5px;
}

/* END Side Navbar Styles */

/* START Thumb Gallery Styles */

figure{
    margin: 5px;
}

.likeCountBar {
    position: relative;
    bottom: 40px;
    float: left;
    padding: 0 5px;
    font-size: 1.75em;
    color: #eee;
    background-color: rgba(0,0,0,0.5);
    border-top-right-radius: 10px;
    margin-left: 5px;
}

.heartSelector {
    position: relative;
    bottom: 40px;
    padding: 0 5px;
    font-size: 1.75em;
    color: rgba(255,178,178,0.5);
    background-color: rgba(255,255,255,0.3)
    border-top-left-radius: 10px;
    float: right;
    margin-right: 5px;
}

.highlightedHeart {
    color: #a00;
    background-color: rgba(255,255,255,0.3);
    font-size: 1.9em;
}

.thumbGallery {
    display: flex;
    flex-wrap: wrap;
}

.thumbContainer {

}

/* END Thumb Gallery Styles */

/* START Login Page Styles */

#login-main {
  position: absolute;
  top: 50vh;
  width: 100vw;
  height: 50vh;
  text-align: center;
  background-color: #f7f7f7;
  font-family: 'News Cycle', sans-serif;
  font-style: normal;
  font-weight: 100;
  line-height: 24px;
}

.login-header {
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
}

.login-main {
  text-align: center;
}

/* END Login Page Styles */
