{% extends 'index.html' %}
{% block content %}

<div class="flex-container item-add-container">
    <h3>Add a new item to your collection, or edit an existing item:</h3>
    {% if item %}
    <form action="{{ url_for('edit_item', user_id=item.user_id, item_id=item.id ) }}" class="form-horizontal" method="post">
    {% else %}
    <form action="/edit/" class="form-horizontal" method="post" id="add-item-form">
    {% endif %}
        <div class="input-group">
            <label for="item_name">Item Name:</label>
            {% if item %}
            <input type="text" class="input-lg item-input"
            aria-label="Item Name" value="{{ item.name }}"
            name="item_name" id="item-name" placeholder="Don't use a boring name.">
            {% else %}
            <input type="text" class="input-lg item-input"
            aria-label="Item Name" value=""
            name="item_name" id="item-name" placeholder="Don't use a boring name.">
            {% endif %}
            <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        </div>

        <div class="input-group">
            <label for="item_description">Item Description:</label>
            {% if item %}
            <textarea type="text" class="input-lg item-input"
            aria-label="Item Description" name="item_description" id="item-description" placeholder="Describe the condition, colour, smell, taste, celebrity status, age, and any other made-up anecdotal evidence of its ostensible value to show off your wit and signal your (also ostensible) economic power through fancy language.  The gender (or non) you are attracted to will notice you!">{{ item.description }}</textarea>
            {% else %}
            <textarea type="text" class="input-lg item-input"
            aria-label="Item Description" name="item_description" id="item-description" placeholder="Describe the condition, colour, smell, taste, celebrity status, age, and any other made-up anecdotal evidence of its ostensible value to show off your wit and signal your (also ostensible) economic power through fancy language.  The gender (or non) you are attracted to will notice you!"></textarea>
            {% endif %}
            <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        </div>

        <div class="input-group">
            <label for="item_price">Item Price:</label>
            {% if item %}
            <input type="text" class="input-lg price-input"
            aria-label="Dollar Amount" value="{{ item.price }}"
            name="item_price" id="item-price" placeholder="$0.00 - don't be cruel.">
            {% else %}
            <input type="text" class="input-lg price-input"
            aria-label="Dollar Amount" value=""
            name="item_price" id="item-price" placeholder="$0.00 - don't be cruel.">
            {% endif %}
            <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        </div>

        <div class="category-container">
            <label for="item_category_existing">Select Existing or Create New Category:</label>
            {% if categories %}
                <div class="category-label-container">
                {% for category in categories %}
                    <div class="item-category-label" name="item_category_listing" id="category-label">
                        {{ category.name }}
                    </div>
                {% endfor %}
                </div>
            {% else %}
                <p>No categories exist yet.  Please create a new category.</p>
            {% endif %}
        </div>

        <div class="input-group">
            <label for="item_category">Category:</label>
            {% if item %}
            <input type="text" class="input-lg input-category"
            aria-label="Item Category Name" value="{{ item.category.name }}"
            name="item_category" id="item-category" placeholder="Category">
            {% else %}
            <input type="text" class="input-lg input-category"
            aria-label="Item Category Name" value=""
            name="item_category" id="item-category" placeholder="Category">
            {% endif %}
            <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        </div>

        <div class="input-group">
            <label for="item_image">(Optional) Item Image URL:</label>
            {% if item %}
            <input type="url" class="input-lg image-input" aria-label="URL for image"
            value="{{ item.item_image_path }}" name="item_image_path" id="item-image-path" placeholder="(Optional) Insert image URL here">
            {% else %}
            <input type="url" class="input-lg image-input" aria-label="URL for image"
            value="" name="item_image_path" id="item-image-path" placeholder="(Optional) Insert image URL here">
            {% endif %}
            <div class="url-error-msg">{{ error_message }}</div>
        </div>

        <button type="submit" id="input-item-submit"
        class="btn btn-info btn-lg" disabled>
            Submit
        </button>
        <a href="/">
            <button type="button" class="btn btn-warning btn-lg">
                Cancel
            </button>
        </a>
        <button type="button" class="btn btn-danger btn-lg"
        data-toggle="modal" data-target="#warningModal">
            Delete
        </button>
    </form>

</div>

<!-- START Delete Post Warning Modal -->
<div class="modal fade" id="warningModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content text-center">
            <h3 class="warning-title">Confirm Delete Post?</h3>

            <button type="button" class="btn btn-info btn-lg"
            data-dismiss="modal">Cancel
            </button>
            {% if item %}
            <button type="text" class="btn btn-danger btn-lg">
                <a href="{{ url_for('delete_item', user_id=item.user_id, item_id=item.id ) }}">Delete</a>
            </button>
            {% endif %}
            </form>
        </div>
    </div>
</div>
<!-- END Delete Post Warning Modal -->
{% endblock %}
