<!-- [START footer js] -->
<script src="{{ url_for('static', filename='js/1-jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/2-jquery-ui.js') }}"></script>
<script src="{{ url_for('static', filename='js/3-knockout-3.4.0.js') }}"></script>
<script src="{{ url_for('static', filename='js/snap.svg-min.js') }}"></script>
<script src="{{ url_for('static', filename='js/4-script.js') }}"></script>
<script src="{{ url_for('static', filename='js/snap-splash.js') }}"></script>
<!--<script src="js/all.js"></script>-->
<!-- [END footer js] -->


