<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">

<title>The Artchive Project -- Street Art History</title>

<!-- [START css] -->
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}" type="text/css">
<link href="https://fonts.googleapis.com/css?family=News+Cycle" rel="stylesheet">
<!-- [END css] -->

<link rel="icon" href="favicon.ico">

<!-- [START head js] -->
<script src="{{ url_for('static', filename='js/1-jquery.min.js') }}"></script>
<!-- [END head js] -->

