<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="row">

            <div class="col-xs-7 col-sm-4 col-md-3 text-left">
              <a href="/">
                  <img src="/static/images/woot-logo.svg" class="img-responsive header-logo">
              </a>
            </div>
            <div class="col-xs-5 col-sm-8 col-md-9 text-right">
                {% if user %}
                <div class="col-xs-12">
                  <a href="#" id="menu-toggle">
                    <span class="glyphicon glyphicon-menu-hamburger">
                    </span>
                  </a>
                </div>
                {% else %}
                <div class="col-xs-12 login-button">
                    <a href="/login" class="btn btn-success btn-lg" role="button">Login</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<!-- START Sliding Menu Modal -->
{% if user %}
<div id="wrapper" class="">
  <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li>
                <div class="row">
                    <div class="col-xs-4 col-sm-5 col-md-6">
                        {% if user.picture %}
                        <img src="{{ user.picture }}" class="img-responsive img-circle user-profile">
                        {% else %}
                        <img src="/images/blank_user.gif" class="img-responsive img-circle user-profile">
                        {% endif %}
                    </div>
                    <div class="col-xs-4 col-sm-5 col-md-6">
                        <h4 class="green-text">{{ user.name }}</h4>
                    </div>
                </div>
            </li>
            <li>
                <a href="{{ url_for('my_items', user_id=user.id ) }}">My Items</a>
            <li>
                <a href="/edit/">Add Item</a>
            </li>
            <li>
                <a href="{{ url_for('item_categories' ) }}">Categories</a>
            </li>
            <li>
                <a href="/logout">
                    Logout
                </a>
            </li>

        </ul>
    </div>
</div>

<!-- END Sliding Menu Modal -->
{% endif %}
