<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
<title>WoOT - The Website of Ordinary Things</title>

<!-- [START css] -->
<link type="text/css" rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
<link type="text/css" rel="stylesheet" href="/static/bootstrap/css/bootstrap-theme.min.css">
<link type="text/css" rel="stylesheet" href="/static/bootstrap/css/bootstrap-responsive.css">
<link type="text/css" rel="stylesheet" href="/static/css/style.css">
<link type="text/css" rel="stylesheet" href="/static/css/sidebar-style.css">
<!-- [END css] -->

<!-- [START head js] -->
<script src="/static/js/1-jquery-3.1.0.js"></script>
<script src="/static/js/2-jquery-ui.js"></script>
<!-- [END head js] -->

